$input-height: 48px;
$bottom-margin: 1rem;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.container {
  padding: 2rem 2rem;
  margin: 2rem auto;
  max-width: 600px;
  border: 1px solid #b7b7b7;
  border-radius: 6px;
}

.input-item {
  display: block;
  font: inherit;
  font-weight: normal;
  padding: 4px 12px;
  margin: 8px 0 $bottom-margin;
  border: 1px solid #b7b7b7;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: $input-height;
}

textarea.input-item {
  height: $input-height * 4;
}

label {
  font-weight: 600;
}

.button {
  text-decoration: none;
  padding: 12px 32px;
  margin: 12px 0;
  font: inherit;
  cursor: pointer;
  display: block;
  height: $input-height;
  border: none;
  background-color: #1563ff;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;

  &-container {
    margin-right: 16px;
    margin-bottom: $bottom-margin;
  }

  &.copy-btn {
    margin-top: 8px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #333;
  }
}

.copy-links {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-gap: 0.75rem;
}
