<div class="container">
  <h1>
    Magic Email Link Generator
  </h1>
  <div>
    <div>
      <Form @updateData={{this.updateData}} @body={{this.body}} />
    </div>
    <div>
      <EmailLink
        @link={{this.emailLink}}
        @text="Default Mail App"
      />
    </div>
  </div>
</div>
