<div class="container">
  <h1>
    Magic Email Link Generator
  </h1>
  <div class="grid">
    <Form @updateData={{this.updateData}} @body={{this.body}} />
    <div>
      <h2>Links</h2>
      <EmailButton @link={{this.gmailLink}} @text='Gmail'/>
      <EmailButton @link={{this.emailLink}} @text='Default Mail App'/>
    </div>
  </div>
</div>
