<div class="container">
  <h1>
    Magic Email Link Generator
  </h1>
  <div class="grid">
    <div class="grid-item">
      <Form @updateData={{this.updateData}} @body={{this.body}} />
    </div>
    <div class="grid-item">
      <h2>
        Links
      </h2>
      <EmailLink
        @link={{this.emailLink}}
        @text="Default Mail App"
      />
    </div>
  </div>
</div>
