<div class="form-container">
  <form class="email-form" {{on "submit" @updateData}}>
    <label>
      Title
      <input
        required=""
        class="input-item"
        name="title"
        value=""
        placeholder="title/person to contact"
      />
    </label>
    <label>
      Email
      <input
        required=""
        class="input-item"
        name="email"
        value=""
        placeholder="email address of person to contact"
      />
    </label>
    <label>
      Subject Line
      <input
        required=""
        class="input-item"
        name="subject"
        value=""
        placeholder="email subject line"
      />
    </label>
    <label>
      Email body
      <textarea
        required=""
        class="input-item"
        name="body"
        value={{@body}}
        placeholder="the message you would like to send"
      />
    </label>
    <button type="submit" class="button">
      Prepare My Email
    </button>
  </form>
</div>
