<div class="form-container">
  <h2>Enter Template</h2>
  <form class="email-form" {{on "submit" @updateData}}>
    <label>
      To:
      <input
        type="email"
        multiple
        required=""
        class="input-item"
        name="email"
        value=""
        placeholder="enter one or more email addresses, separated by a comma"
      />
    </label>
    <label>
      Subject:
      <input
        required=""
        class="input-item"
        name="subject"
        value=""
        placeholder="enter a subject"
      />
    </label>
    <label>
      Body:
      <textarea
        required=""
        class="input-item"
        name="body"
        value={{@body}}
        placeholder="the message you would like to send"
      />
    </label>
    <button type="submit" class="button">
      Generate link
    </button>
  </form>
</div>
