<h2>Preview Email</h2>
<form class="preview">
  <label>
    To
    <input
      disabled
      class="input-item"
      name="email"
      value={{@email}}
    />
  </label>
  <label>
    Subject
    <input
      disabled
      class="input-item"
      name="subject"
      value={{@subject}}
    />
  </label>
  <label>
    Email body
    <textarea
      disabled
      class="input-item"
      name="body"
      value={{@body}}
    />
  </label>
</form>
